
##########
# X Code #
##########
## Build generated
build/
DerivedData/
Pods/
*.xcworkspace

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

###########
# Mac OSX #
###########
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk